.bg-fixed {
    background-attachment: fixed;
}

.is-page article {
    max-width: 64rem;
}

.post-content {
    width: 100%;
    color: #333;
}

.post-content p {
    text-align: justify;
}

.post-content blockquote {
    color: #555;
}

@media screen and (max-width: 30em) {
    .post-content {font-size: 1rem;}
}
